@media screen and (max-width: 576px){
    .container{
        width: 95%;
        margin: 20px auto;
    }
    .navbar{
        width: 100%;
    }
    .nav-block{
        display: none;
    }
    .nav-unblock{
        display: block;
    }

    .banner{
        width: auto;
        flex-direction: column;
    }

    .banner-content, .banner-img{
        width: 100%;
    }

    .banner-card-2{
        width: 136px;
        height: 70px;
        top: 35px;
        right: 9px;
    }

    .habit-images{
        flex-direction: column;
    }
    .run-extra-miles{
        width: 90%;
    }
    .my{
        width: 80%;
        flex-direction: column;
        padding: 10px;
        gap: 30px
    }

    .membership{
        flex-direction: column;
        gap: 20px;
    }
    .runs-extra-miles-content, .runs-extra-miles-img, .runs-btn{
        width: 100%;
    }

    .meetOurTeam-content{
        width: 90%;
    }

    .meetOurTeam-img{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .footer{
        flex-direction: column;
        /* flex-direction: start; */
    }

    .footer-content{
        width: 90%;
    }

    .footer-links-container{
        width: 90%;
        flex-direction: column;
        float: right;
    }

    .footer-link-left{
        width: 100%;
    }
    .footer-link-right{
        width: 100%;
    }
}